.heading {
    background-color: #3f51b5;
    color: azure;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 20px;
}
.heading p{
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    margin: 0  !important;
}
.tableheading {
    font-weight: 400;
    color: #141a39;
}
.tablecolumn {
    font-weight: 400;
    color: #000;
}